@font-face{
    font-family: "my";
    src:url(./satoshi/Satoshi-Bold.otf)
}
@font-face{
    font-family: "my1";
    src:url(./satoshi/Satoshi-BoldItalic.otf)
}
@font-face{
    font-family: "my2";
    src:url(./satoshi/Satoshi-Light.otf)
}
@font-face{
    font-family: "my3";
    src:url(./satoshi/Satoshi-LightItalic.otf)
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,css{
    height:100%;
    width:100%;
}
.main{
    height:100%;
    width:100%;
}
#nav{
    height:80px;
    width:100%;
    background-color: #ffffff;
    font-family: my;
    margin-top:20px;
    
}
#body{
    height:calc(100% - 80px);
    width:100%;
    background-color: white;
    text-align: center;
}
#body h4{
    font-family: "Instrument Serif", serif;
    font-style:italic;
    font-size:30px;
    font-weight: 400;
    margin-top:70px;
    margin-bottom: 20px;
}
#body h1{
    font-family:my;
    font-size:80px;
    line-height: 70px;;
    font-weight: 900;
}
#heading{
    margin-left:180px;
    margin-right: 380px;
    font-weight: 700;
    font-size: 18px;
    
}
#nav nav{
    display:flex;
    align-items:center;
    
}
#details{
    display:flex;
    gap:30px;
    font-family:my2;
}

#body p{
    font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    margin-top: 14px;
    color:#b1afac;
}

#body button{
    height:55px;
    width:14%;
    border-radius:30px;
    border: 1px solid black;
    text-transform: uppercase;
    margin-top:20px;
    background:transparent;
}

img{
    position:absolute;
    left:48%;
    height:700px;
    transform: translateX(-50%);
    z-index:1;
}
#grad{
    height:30%;
    width:100%;
    background:linear-gradient(to right bottom,rgb(219, 152, 29),rgb(255,51,133),rgb(197, 0, 197));
    filter:blur(80px);
    position:absolute;
    top:90%;
    opacity:0.9;
    rotate:-5deg;
}

#btn{
    height:43px;
    width:10%;
     border-radius:30px;
    border: 1px solid black;
    text-transform: uppercase;
    margin-top:20px;
    background:transparent;
    margin-left:220px;
    font-weight:bold;
    
}